@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* *{
  box-sizing: border-box;
} */

body{
  margin: 0 auto;
  background-color:aliceblue;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 16px;
  width: 100%;/*
  min-height: 100vh;
  max-height: 100vh; */
}

.container{
  display: flex;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

.logo{
  margin: 60px 0;
}

.bg-mobile{
  display: none;
}


.left{
  width: 55%;
  padding: 0 90px;
  /* flex: 50%; */
  
  /* max-width: 50%; */
  /* padding: 50px 100px */
}

.right{
  /* flex: 50%; */
  width: 45%;
  
  /* background-position: center center; */
}

.left-bg-img{
  background: no-repeat url("images/bg-pattern-desktop.svg");
}


h1{
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1rem;
}

h1 span{
  font-weight: 300;
  color:hsl(0, 36%, 70%);
  
}

p{
  font-weight: 300;
  color:hsl(0, 36%, 70%);
  max-width: 400px;
  line-height: 1.5rem;
}



.right-bg-img{
  background: no-repeat url("images/hero-desktop.jpg");
}


.attribution { display: none; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media only screen and (max-width: 680px){

  .bg-mobile{
    display: inline-block;
    width: 100%;
  }

  .right{
    display: none;
  }

  .left{
    width: 100%;
    /* padding: 0 30px; */
  }

  .logo{
    margin: 30px;
    width: 100px;
  }


  h1{
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.6rem;
  }

  .info{
    text-align: center;
  }

  p{
    display: inline-block;
    text-align: center;
    /* max-width: 100%; */
  }
}